<h2>Por país</h2>
<hr>

<div class="row">
  <div class="col">
    <!-- Aqui estoy llamando el componente app-pais-input,  y estoy diciendo que consuma el metodo buscar
          de por-pais-component.ts  pero con el valor del evento de onEnter, que devuelve un string
          con lo que el input tenga -  en el componente de app-pais-input-->
    <app-pais-input (onEnter)="buscar($event)"

    ></app-pais-input>
  </div>
</div>

<hr>

<div *ngIf="hayError" class="alert alert-danger">
  El campo está vacio {{termino}}
</div>
<div *ngIf="noExiste" class="alert alert-danger">
  No hay coincidencias con  {{termino}}
</div>

  <div class="row">
  <div class="col">

  <app-pais-tabla [objPaises]="objPaises"
                  [sinBuscar]="sinBuscar"
                  [noExiste]="noExiste"
                  [hayError]="hayError"
                  [datoVacio]="datoVacio"
            ></app-pais-tabla>
  </div>
</div>

