<!--Aqui defino un contenedor de filas con un margen de 4-->
<div class ="row container mt-4">

  <!---Aqui defino  una columna del tamaño de 3 columnas  para mostrar el menu a la izquierda(bootstrap divide la pantalla en 12 columnas del mismo tamaño-->
  <div class="col-3">
  <app-sidebar></app-sidebar>
  </div>

  <!--Aqui defino otra columna que va a mostrar el componente   que yo seleccione:-->
  <!--router-outlet es el encargado de mirar en el archivo  de app-routing.module.ts y de mostrar una página espeficica de acuerdo a la ruta:-->
  <div class="col">
    <router-outlet></router-outlet>
  </div>
</div>
